<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiviCode</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/ec46b80c81.css" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="icon" href="/img/MiviCodeLogo.png" type="image/x-icon">
</head>

<body class="bg-[#f8fafc]">
    <header class=" bg-white flex h-20 items-center justify-between w-full">
        <div class="flex">
            <img class=" h-16 ml-14" src="/img/MiviCodeLogoLight.png" alt="Logo MiviCode">
            <img class=" h-16 ml-5" src="/img/MiviCodeLight.png" alt="MiviCode">
        </div>
        <div class="flex gap-6 h-max poppins-medium mr-14">
            <a class="hover:text-[#1EBAE6] duration-300 text-xl" href="/templates/index.html">Home</a>
            <a class="hover:text-[#1EBAE6] duration-300 text-xl" href="/templates/aboutUs.html">About Us</a>
            <a class="hover:text-[#1EBAE6] duration-300 text-xl" href="/templates/services.html">Services</a>
            <a class="hover:text-[#1EBAE6] duration-300 text-xl" href="/templates/contact.html">Contact</a>
        </div>
    </header>

    <h1 class="py-8 text-4xl text-center font-bold text-[#22b8ea] poppins-regular">OurTeam</h1>

    <div class=" max-w-[900px] m-auto bg-white p-4 rounded-lg poppins-light ">
        <div>
            <p>At MiviCode, we are more than just a team of developers – we are a family of passionate
                professionals dedicated to excellence. Our team is comprised of experienced developers,
                creative designers, and strategic thinkers, each bringing a unique set of skills and
                expertise to the table. Together, we work collaboratively to deliver innovative software
                solutions that drive growth and success for our clients.</p><br>
            <p>Our team is committed to staying at the forefront of technology, continuously learning and
                adapting to the latest advancements in the industry. We are driven by a shared vision of
                empowering businesses with cutting-edge technology solutions that transform challenges into
                opportunities.</p><br>
            <p>Meet the faces behind MiviCode:</p>
        </div>
        <div class="grid grid-cols-3 place-items-center my-8 " >
            <div class="w-3/5">
                <img src="/img/Miguel.jfif" alt="" class=" rounded-full ">
                <p class="poppins-regular my-4">
                    <span class="poppins-medium">Miguel Arroyo</span><br><br>
                    University: <span class="poppins-light">University of Texas at Austin</span><br><br>
                    Focus Area: <span class="poppins-light">Cybersecurity</span>  
                </p>
                <div class="grid grid-cols-3 place-items-center gap-3">
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
            <div class="w-3/5">
                <img src="/img/Francisco.jpg" alt="" class=" rounded-full " >
                <p class="poppins-regular my-4">
                    <span class="poppins-medium">Francisco Perez</span><br><br>
                    University: <span class="poppins-light">University of California, Berkeley </span><br><br>
                    Focus Area: <span class="poppins-light">Software Engineering</span>
                </p>
                <div class="grid grid-cols-3 place-items-center gap-3">
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
            <div class="w-3/5">
                <img src="/img/Victor.jfif" alt="" class=" rounded-full ">
                <p class="poppins-regular my-4">
                    <span class="poppins-medium">Victor Osornio</span><br><br>
                    University: <span class="poppins-light">Stanford University</span><br><br>
                    Focus Area: <span class="poppins-light">Artificial Intelligence</span> 
                </p>
                <div class="grid grid-cols-3 place-items-center gap-3">
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="p-20"> 

    </div>
</body>


</html>