<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MiviCode</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://kit.fontawesome.com/ec46b80c81.css" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="icon" href="/img/MiviCodeLogo.png" type="image/x-icon">
</head>

<body class="bg-[#f8fafc]">
  <header class=" bg-white flex h-20 items-center justify-between absolute w-full">
    <div class="flex">
      <img class=" h-16 ml-14" src="/img/MiviCodeLogoLight.png" alt="Logo MiviCode">
      <img class=" h-16 ml-5" src="/img/MiviCodeLight.png" alt="MiviCode">
    </div>
    <div class="flex gap-6 h-max poppins-medium mr-14">
      <a class="hover:text-[#1EBAE6] duration-300 text-xl" href="/templates/index.html">Home</a>
      <a class="hover:text-[#1EBAE6] duration-300 text-xl" href="/templates/aboutUs.html">About Us</a>
      <a class="hover:text-[#1EBAE6] duration-300 text-xl" href="/templates/services.html">Services</a>
      <a class="hover:text-[#1EBAE6] duration-300 text-xl" href="/templates/contact.html">Contact</a>
    </div>
  </header>

  <div>
    <div
      class="flex flex-col items-center justify-center h-screen bg-[url('/img/stockphoto.png')] bg-no-repeat bg-cover bg-center">
      <h1 class="text-5xl font-bold text-[#22b8ea] poppins-regular">Welcome to MiviCode</h1>
      <p class="text-2xl text-gray-600 mt-4">We are a team of developers that will help you and your company with your
        projects</p>
      <button id="contactButton"
        class="bg-[#22b8ea] text-white px-4 py-2 rounded-lg mt-5 hover:bg-white hover:text-[#22b8ea] duration-300">Contact
        Us</button>
    </div>
    <div class="w-3/4 m-auto pt-8 pb-4">
      <h2 class="text-4xl text-center font-bold text-[#22b8ea] pb-4">Who We Are</h2>
      <p class="text-justify text-gray-600 bg-white p-5 rounded-lg shadow-lg">Welcome to MiviCode, where innovation
        meets expertise. We are a leading software development company dedicated to empowering businesses
        with cutting-edge technology solutions. At MiviCode, our passion lies in transforming complex
        challenges into seamless, efficient systems that drive growth and success for our clients.
        With a team of experienced developers, creative designers, and strategic thinkers, we specialize
        in creating bespoke enterprise software tailored to meet the unique needs of each organization.
        Our commitment to excellence ensures that we deliver not just software, but robust, scalable,
        and future-proof solutions that enhance operational efficiency and foster business innovation.
        At MiviCode, we build the tools that power tomorrow's enterprises today.</p>
    </div>
    <div class="w-3/4 m-auto pt-4 pb-4">
      <h2 class="text-4xl text-center font-bold text-[#22b8ea] pb-4">What Sets Us Apart</h2>
      <p class="text-justify text-gray-600 bg-white p-5 rounded-lg shadow-lg">At
        <strong class="text-[#1d9ec9]">MiviCode</strong>, we believe that the true measure of
        success lies not just in delivering software, but in creating solutions that genuinely drive
        your business forward. Here’s what makes us stand out in the competitive world of enterprise
        software development:
      </p><br>
      <ul class="text-gray-600 bg-white p-5 rounded-lg shadow-lg">
        <li><strong class="text-[#1d9ec9]">Tailored Solutions:</strong> We don’t believe in
          one-size-fits-all. Every business is unique, and so are the challenges it faces.
          That’s why we offer fully customized software solutions, meticulously crafted to meet
          the specific needs and goals of your company.</li><br>
        <li><strong class="text-[#1d9ec9]">Agility and Flexibility:</strong> In a fast-paced business
          environment, agility is key. Our development process is highly adaptive, allowing us to pivot
          and adjust in response to your evolving requirements, ensuring that the software grows with
          your business.</li><br>
        <li><strong class="text-[#1d9ec9]">Client-Centric Approach:</strong> Your vision drives our
          process. We work closely with you from day one, maintaining open communication and involving
          you at every step. This ensures that the final product is not just functional, but also aligned
          with your strategic objectives.</li><br>
        <li><strong class="text-[#1d9ec9]">Innovative Technology:</strong> Staying ahead of the curve
          is crucial in the tech world. We leverage the latest advancements in technology, from AI and
          machine learning to cloud computing, to deliver software that is not only state-of-the-art but
          also future-proof.</li><br>
        <li><strong class="text-[#1d9ec9]">Commitment to Quality:</strong> We take pride in our
          meticulous attention to detail and our unwavering commitment to quality. Every line of code
          is written with precision, and our rigorous testing processes ensure that the final product
          is reliable, secure, and scalable.</li><br>
        <li><strong class="text-[#1d9ec9]">Long-Term Partnerships:</strong> We see our clients as
          partners. Our relationship doesn’t end with the delivery of the software. We provide ongoing
          support and updates to ensure that your solution continues to meet your needs as your
          business evolves.</li>
      </ul>
    </div>
    <div class="w-3/4 m-auto pt-4 pb-4">
      <h2 class="text-4xl text-center font-bold text-[#22b8ea] pb-4">Our Services</h2>
      <div class="flex flex-wrap justify-center gap-5">
        <div class="w-1/4 bg-white p-5 rounded-lg shadow-lg">
          <i class="fa-solid fa-code fa-3x text-[#22b8ea]"></i>
          <h3 class="text-2xl text-[#22b8ea]">Web Development</h3>
          <p class="text-gray-600">We can help you with your website, we can create a website from scratch or help you
            with your existing website</p>
        </div>
        <div class="w-1/4 bg-white p-5 rounded-lg shadow-lg">
          <i class="fa-solid fa-mobile-android fa-3x text-[#22b8ea]"></i>
          <h3 class="text-2xl text-[#22b8ea]">Mobile Development</h3>
          <p class="text-gray-600">We can help you with your mobile app, we can create a mobile app from scratch or help
            you with your existing mobile app</p>
        </div>
        <div class="w-1/4 bg-white p-5 rounded-lg shadow-lg">
          <i class="fa-solid fa-laptop-code fa-3x text-[#22b8ea]"></i>
          <h3 class="text-2xl text-[#22b8ea]">Software Development</h3>
          <p class="text-gray-600">We can help you with your software, we can create a software from scratch or help you
            with your existing software</p>
        </div>
      </div>
    </div>
    <div class="w-3/4 m-auto mb-8">
      <ul class="w-full py-4">
        <li class="mb-4">
          <h2 class="text-4xl text-center font-bold text-[#22b8ea]">Our Valued Clients</h2>
        </li>
        <li class="flex bg-white rounded-lg shadow-lg my-4">
          <ul class="w-1/3 h-auto my-8 ml-12">
            <li class="p-auto"><img src="/img/HubSpotLogo.png" alt="HubSpot Logo" class="m-auto"></li>
            <li class="p-auto"><img src="/img/GreenMedLogo.png" alt="GreenMed Logo" class="m-auto"></li>
            <li class="p-auto"><img src="/img/StripeLogo.png" alt="Stripe Logo" class="m-auto"></li>
          </ul>
          <div class="w-2/3 h-full m-auto mx-12 text-justify text-gray-600">
            <p>At MiviCode, our success is reflected in the trust and satisfaction of our esteemed clients.
              We are proud to partner with a diverse range of organizations, from dynamic startups to
              established enterprises, across various industries. Our clients include innovative tech firms,
              leading healthcare providers, financial institutions, and global retail brands. Each partnership
              is a testament to our commitment to delivering high-quality software solutions that not only meet
              but exceed expectations.</p><br>
            <p>Some of the notable companies we’ve had the privilege of working with include
              <strong class="text-[#1d9ec9]" href="https://www.hubspot.com">HubSpot</strong>,
              <strong class="text-[#1d9ec9]" href="https://www.shopgreenmed.com">GreenMed Healthcare</strong>, and
              <strong class="text-[#1d9ec9]" href="https://stripe.com/mx">Stripe</strong>. These collaborations
              highlight
              our ability to adapt to different business environments and consistently deliver results
              that drive our clients’ success.
            </p><br>
            <p>
              We value each relationship we build, and we are honored to contribute to our clients’ journeys
              towards achieving their business goals.</p>
          </div>
        </li>
      </ul>
      <div class="flex">
        <div class="m-auto w-2/5">
          <div class="flex items-center space-x-1 mb-2">
            <i class="fa-solid fa-star text-yellow-300"></i>
            <i class="fa-solid fa-star text-yellow-300"></i>
            <i class="fa-solid fa-star text-yellow-300"></i>
            <i class="fa-solid fa-star text-yellow-300"></i>
            <i class="fa-duotone fa-solid fa-star-half text-yellow-300"></i>
            <p class="ms-1 text-sm font-medium text-gray-400">4.5 out of 5</p>
          </div>
          <p class="text-sm font-medium text-gray-400">1,745 global ratings</p>
          <div class="flex items-center mt-4">
            <a href="#" class="text-sm font-medium text-[#1d9ec9]">5 star</a>
            <div class="w-2/4 h-5 mx-4 bg-gray-300 rounded">
              <div class="h-5 bg-yellow-300 rounded" style="width: 70%"></div>
            </div>
            <span class="text-sm font-medium text-gray-400">70%</span>
          </div>
          <div class="flex items-center mt-4">
            <a href="#" class="text-sm font-medium text-[#1d9ec9]">4 star</a>
            <div class="w-2/4 h-5 mx-4 bg-gray-300 rounded">
              <div class="h-5 bg-yellow-300 rounded" style="width: 17%"></div>
            </div>
            <span class="text-sm font-medium text-gray-400">17%</span>
          </div>
          <div class="flex items-center mt-4">
            <a href="#" class="text-sm font-medium text-[#1d9ec9]">3 star</a>
            <div class="w-2/4 h-5 mx-4 bg-gray-300 rounded">
              <div class="h-5 bg-yellow-300 rounded" style="width: 8%"></div>
            </div>
            <span class="text-sm font-medium text-gray-400">8%</span>
          </div>
          <div class="flex items-center mt-4">
            <a href="#" class="text-sm font-medium text-[#1d9ec9]">2 star</a>
            <div class="w-2/4 h-5 mx-4 bg-gray-300 rounded">
              <div class="h-5 bg-yellow-300 rounded" style="width: 4%"></div>
            </div>
            <span class="text-sm font-medium text-gray-400">4%</span>
          </div>
          <div class="flex items-center mt-4">
            <a href="#" class="text-sm font-medium text-[#1d9ec9]">1 star</a>
            <div class="w-2/4 h-5 mx-4 bg-gray-300 rounded">
              <div class="h-5 bg-yellow-300 rounded" style="width: 1%"></div>
            </div>
            <span class="text-sm font-medium text-gray-400">1%</span>
          </div>
        </div>
        <div class="w-3/5 m-auto">
          <article class="bg-white rounded-lg shadow-lg p-4 mb-4">
            <div class="flex items-center mb-4">
              <img class="w-10 h-10 me-4 rounded-full" src="/img/dosto.jpg" alt="Client Pictrue">
              <div class="font-medium text-gray-600">
                <p>John Doe <time datetime="2014-08-16 19:00" class="block text-sm text-gray-400">Joined on February
                    2024</time></p>
              </div>
            </div>
            <div class="flex items-center mb-1 space-x-1 rtl:space-x-reverse">
              <i class="fa-solid fa-star text-yellow-300"></i>
              <i class="fa-solid fa-star text-yellow-300"></i>
              <i class="fa-solid fa-star text-yellow-300"></i>
              <i class="fa-solid fa-star text-yellow-300"></i>
              <i class="fa-solid fa-star text-yellow-300"></i>
              <h3 class="ms-2 text-sm font-semibold text-gray-400">Thinking to buy another one!</h3>
            </div>
            <p class="mb-2 text-gray-600">This is my third Invicta Pro Diver. They are just fantastic
              value for money. This one arrived yesterday and the first thing I did was set the time, popped on an
              identical strap from another Invicta and went in the shower with it to test the waterproofing.... No
              problems.</p>
            <p class="mb-3 text-gray-600">It is obviously not the same build quality as those very
              expensive watches. But that is like comparing a Citroën to a Ferrari. This watch was well under £100! An
              absolute bargain.</p>
          </article>
        </div>
      </div>
    </div>
  </div>
</body>

<footer id="footer" class="bg-white p-4 min-w-full">
  <div class="w-10/12 flex flex-wrap items-center text-center justify-between text-sm font-large text-gray-400 mx-auto">
    <div class="w-1/6 min-w-16">
      <img src="/img/Miguel.jfif" alt="Imagen Miguel" class="w-full rounded-full border-transparent">
      <span class="text-gray-600 text-base">Miguel Arroyo</span>
      <p>Contactos:</p>
      <div class="font-medium text-gray-300">
        <a href="https://mx.linkedin.com/in/miguel-angel-arroyo-lópez-ab322027b?trk=people-guest_people_search-card"
          alt="LinkedIn Miguel" target="_blank" class="hover:text-gray-500 duration-300">
          <i class="fa-brands fa-linkedin"></i><span> Miguel Arroyo</span><br>
        </a>
        <a href="https://x.com/MaikyAhoyo?t=exHol0e32wOSgJHqov5-Wg&s=08" alt="X Miguel" target="_blank"
          class="hover:text-gray-500 duration-300">
          <i class="fa-brands fa-square-x-twitter"></i><span> @MaikyAhoyo</span><br>
        </a>
        <div class="hover:text-gray-500 duration-300 w-fit m-auto">
          <i class="fa-brands fa-square-whatsapp"></i>
          <span> +52 631 1130 239</span>
        </div>
      </div>
    </div>
    <div class="w-1/6 min-w-16">
      <img src="/img/Francisco.jpg" alt="Imagen Francisco" class="w-full rounded-full border-transparent">
      <span class="text-gray-600 text-base">Francisco Perez</span>
      <p>Contactos:</p>
      <div class="font-medium text-gray-300">
        <a href="https://mx.linkedin.com/in/francisco-perez-6a32ba260?original_referer=https%3A%2F%2Fwww.google.com%2F"
          alt="LinkedIn Francisco" target="_blank" class="hover:text-gray-500 duration-300">
          <i class="fa-brands fa-linkedin"></i><span> Francisco Pérez</span><br>
        </a>
        <a href="https://x.com/deFrannzzz?t=9ESFkZJZF8ssYLtPWCjSBA&s=08" alt="X Francisco" target="_blank"
          class="hover:text-gray-500 duration-300">
          <i class="fa-brands fa-square-x-twitter"></i><span> @deFrannzzz</span><br>
        </a>
        <div class="hover:text-gray-500 duration-300 w-fit m-auto">
          <i class="fa-brands fa-square-whatsapp"></i>
          <span> +52 686 312 3335</span>
        </div>
      </div>
    </div>
    <div class="w-1/6 min-w-16">
      <img src="/img/Victor.jfif" alt="Imagen Victor" class="w-full rounded-full border-transparent">
      <span class="text-gray-600 text-base">Victor Osornio</span>
      <p>Contactos:</p>
      <div class="font-medium text-gray-300">
        <a href="http://www.linkedin.com/in/torvics" alt="Facebook Victor" target="_blank"
          class="hover:text-gray-500 duration-300">
          <i class="fa-brands fa-linkedin"></i><span> Victor Osornio</span><br>
        </a>
        <a href="https://x.com/torvicccs?t=F8NMaa0ENK0mG2swgs1rMQ&s=08" alt="X Victor" target="_blank"
          class="hover:text-gray-500 duration-300">
          <i class="fa-brands fa-square-x-twitter"></i><span> @torvicccs</span><br>
        </a>
        <div class="hover:text-gray-500 duration-300 w-fit m-auto">
          <i class="fa-brands fa-square-whatsapp"></i>
          <span> +52 662 517 2804</span>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 text-center text-sm font-medium text-gray-400">
    <span>© 2024 MiviCode All Rights Reserved.</span>
  </div>
  <script src="/functions.js"></script>
</footer>

</html>