<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiviCode</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/ec46b80c81.css" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="icon" href="/img/MiviCodeLogo.png" type="image/x-icon">
</head>

<body class="bg-[#f8fafc]">
    <header class=" bg-white flex h-20 items-center justify-between w-full">
        <div class="flex">
            <img class=" h-16 ml-14" src="/img/MiviCodeLogoLight.png" alt="Logo MiviCode">
            <img class=" h-16 ml-5" src="/img/MiviCodeLight.png" alt="MiviCode">
        </div>
        <div class="flex gap-6 h-max poppins-medium mr-14">
            <a class="hover:text-[#1EBAE6] duration-300 text-xl" href="/templates/index.html">Home</a>
            <a class="hover:text-[#1EBAE6] duration-300 text-xl" href="/templates/aboutUs.html">About Us</a>
            <a class="hover:text-[#1EBAE6] duration-300 text-xl" href="/templates/services.html">Services</a>
            <a class="hover:text-[#1EBAE6] duration-300 text-xl" href="/templates/contact.html">Contact</a>
        </div>
    </header>

    <div class="w-3/4 m-auto">
        <h2 class="text-4xl text-center font-bold text-[#22b8ea] my-8">We Manage:</h2>
        <div class="grid grid-cols-4 gap-3 m-auto">
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/python.png" alt="Python Logo" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">Python</h2>
                <p class="text-gray-600">A versatile high-level language used for web development, data analysis, artificial intelligence, machine learning, automation, and more. Known for its readability and simplicity.
                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/html.png" alt="HTML Logo" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">HTML</h2>
                <p class="text-gray-600">The standard markup language for creating web pages. It structures the content on the web, defining elements like headings, paragraphs, links, and images.
                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/css.png" alt="CSS Logo" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">CSS</h2>
                <p class="text-gray-600">Used for describing the presentation of a web page written in HTML or XML. It controls the layout, colors, fonts, and overall visual appearance of a website.
                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/java.png" alt="Java Logo" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">Java</h2>
                <p class="text-gray-600">A general-purpose, object-oriented programming language widely used for building enterprise-scale applications, Android apps, and web-based applications. It is known for its portability across platforms.
                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/javascript.png" alt="JavaScript" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">JavaScript</h2>
                <p class="text-gray-600">A dynamic scripting language used to add interactivity to web pages. It's essential for web development, enabling functionalities like form validation, dynamic content updates, and animations.

                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/sql.png" alt="SQL Logo" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">SQL</h2>
                <p class="text-gray-600">A specialized language for managing and manipulating databases. It is used to query, insert, update, and delete data within a relational database.
                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/C++.png" alt="C++ Logo" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">C++</h2>
                <p class="text-gray-600">An extension of the C programming language, C++ is used for system/software development, game development, real-time simulation, and applications requiring high performance.
                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/cSharp.png" alt="C# Logo" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">C# (C Sharp)</h2>
                <p class="text-gray-600">A language developed by Microsoft, primarily used for developing Windows applications, games using Unity, and enterprise-level software with the .NET framework.
                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/php.png" alt="PHP Logo" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">PHP</h2>
                <p class="text-gray-600">A server-side scripting language used primarily for web development. PHP is commonly used to create dynamic content on web pages and to interact with databases.
                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/ruby.png" alt="Ruby Logo" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">Ruby</h2>
                <p class="text-gray-600">A dynamic, object-oriented programming language known for its simplicity and productivity. It’s often used in web development, particularly with the Ruby on Rails framework.
                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/swift.jpg" alt="Swift Logo" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">Swift</h2>
                <p class="text-gray-600">A powerful and intuitive programming language developed by Apple, used for building iOS, macOS, watchOS, and tvOS applications.
                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/go.png" alt="Go Logo" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">Go (Golang)</h2>
                <p class="text-gray-600">A statically typed, compiled language developed by Google, known for its simplicity and efficiency. It’s used in cloud computing, distributed systems, and network servers.
                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/kotlin.png" alt="python" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">Kotlin</h2>
                <p class="text-gray-600">A statically typed programming language that runs on the JVM and is fully interoperable with Java. It's used for Android app development and server-side applications.</p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/typescript.png" alt="TypeScript" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">TypeScript</h2>
                <p class="text-gray-600">A superset of JavaScript that adds static types. It is used for building large-scale JavaScript applications with improved code quality and maintainability.
                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/matlab.png" alt="MATLAB" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">MATLAB</h2>
                <p class="text-gray-600">A high-level language and environment used for numerical computing, data analysis, and algorithm development, particularly in engineering and scientific applications.
                </p>
            </div>
            <div class="bg-white p-5 rounded-lg shadow-lg">
                <img src="/img/bash.png" alt="Shell" class="h-[172px] m-auto">
                <h2 class="text-2xl text-center font-bold text-[#22b8ea] my-4">Shell (Bash)</h2>
                <p class="text-gray-600">A command language interpreter for Unix/Linux systems, used for scripting and automating tasks at the command line. Bash scripts are often used for system administration.
                </p>
            </div>
        </div>
    </div>

</body>

<footer id="footer" class="bg-white p-4 min-w-full">
    <div
        class="w-10/12 flex flex-wrap items-center text-center justify-between text-sm font-large text-gray-400 mx-auto">
        <div class="w-1/6 min-w-16">
            <img src="/img/Miguel.jfif" alt="Imagen Miguel" class="w-full rounded-full border-transparent">
            <span class="text-gray-600 text-base">Miguel Arroyo</span>
            <p>Contactos:</p>
            <div class="font-medium text-gray-300">
                <a href="https://mx.linkedin.com/in/miguel-angel-arroyo-lópez-ab322027b?trk=people-guest_people_search-card"
                    alt="LinkedIn Miguel" target="_blank" class="hover:text-gray-500 duration-300">
                    <i class="fa-brands fa-linkedin"></i><span> Miguel Arroyo</span><br>
                </a>
                <a href="https://x.com/MaikyAhoyo?t=exHol0e32wOSgJHqov5-Wg&s=08" alt="X Miguel" target="_blank"
                    class="hover:text-gray-500 duration-300">
                    <i class="fa-brands fa-square-x-twitter"></i><span> @MaikyAhoyo</span><br>
                </a>
                <a href="https://wa.me/526311130239" class="hover:text-gray-500 duration-300 w-fit m-auto">
                    <i class="fa-brands fa-square-whatsapp"></i>
                    <span> +52 631 1130 239</span>
                </a>
            </div>
        </div>
        <div class="w-1/6 min-w-16">
            <img src="/img/Francisco.jpg" alt="Imagen Francisco" class="w-full rounded-full border-transparent">
            <span class="text-gray-600 text-base">Francisco Perez</span>
            <p>Contactos:</p>
            <div class="font-medium text-gray-300">
                <a href="https://mx.linkedin.com/in/francisco-perez-6a32ba260?original_referer=https%3A%2F%2Fwww.google.com%2F"
                    alt="LinkedIn Francisco" target="_blank" class="hover:text-gray-500 duration-300">
                    <i class="fa-brands fa-linkedin"></i><span> Francisco Pérez</span><br>
                </a>
                <a href="https://x.com/deFrannzzz?t=9ESFkZJZF8ssYLtPWCjSBA&s=08" alt="X Francisco" target="_blank"
                    class="hover:text-gray-500 duration-300">
                    <i class="fa-brands fa-square-x-twitter"></i><span> @deFrannzzz</span><br>
                </a>
                <a href="https://wa.me/526863123335" class="hover:text-gray-500 duration-300 w-fit m-auto">
                    <i class="fa-brands fa-square-whatsapp"></i>
                    <span> +52 686 312 3335</span>
                </a>
            </div>
        </div>
        <div class="w-1/6 min-w-16">
            <img src="/img/Victor.jfif" alt="Imagen Victor" class="w-full rounded-full border-transparent">
            <span class="text-gray-600 text-base">Victor Osornio</span>
            <p>Contactos:</p>
            <div class="font-medium text-gray-300">
                <a href="http://www.linkedin.com/in/torvics" alt="Facebook Victor" target="_blank"
                    class="hover:text-gray-500 duration-300">
                    <i class="fa-brands fa-linkedin"></i><span> Victor Osornio</span><br>
                </a>
                <a href="https://x.com/torvicccs?t=F8NMaa0ENK0mG2swgs1rMQ&s=08" alt="X Victor" target="_blank"
                    class="hover:text-gray-500 duration-300">
                    <i class="fa-brands fa-square-x-twitter"></i><span> @torvicccs</span><br>
                </a>
                <a href="https://wa.me/526625172804" class="hover:text-gray-500 duration-300 w-fit m-auto">
                    <i class="fa-brands fa-square-whatsapp"></i>
                    <span> +52 662 517 2804</span>
                </a>
            </div>
        </div>
    </div>
    <div class="mt-4 text-center text-sm font-medium text-gray-400">
        <span>© 2024 MiviCode All Rights Reserved.</span>
    </div>
    <script src="/functions.js"></script>
</footer>

</html>